OINKCODE= # obtained through: https://www.snort.org/oinkcodes

DB_SERVER=dvwa-db
DB_USER=dvwa
DB_PASSWORD=change_me # use: openssl rand -base64 64
DB_DATABASE=dvwa
DB_ROOT_PASSWORD=change_me # use: openssl rand -base64 64
